<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>What an ILLUSION?!</h1>
  <h2>What do you actually see in this picture ?</h2>
  <p>for each picture, write out what you think is going on in the picture & submit it off and we'll check out your answers! </p>
  <h3>Type Your Name & Answer's Below:</h3>
  <section class="box">
    <section class="box1">
     <img src="mooseiLL.jpg" id="moose">
    </section>
   <section class="box2">
     <img src="illlus1.jpeg" id="one">
   </section>
   <section class="box3">
     <img src="illus3.jpeg"  id="two">
    </section>
  </section>


  
  <section class="one">
   <form action="/comments" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="thoughts" name="thoughts">
    <button type="submit">Submit</button>
   </form>
  </section>
  <section class="mini">
    <% for(var i=0; i<comments.length; i++) {%>
      <span><%= comments[i].name %></span>
      <span><%= comments[i].thoughts %></span>
  <% } %>
  </section>
  

  <section class="two">
    <form action="/second" method="POST">
    <input type="text" placeholder="thoughts" name="answerone">
    <button type="submit">Submit</button>
    </form>
  </section>

   <section class="miniTwo">
    <% for(var i=0; i<comments.length; i++) {%>
      <span><%= comments[i].answerOne %></span>
  <% } %>
  </section>

  <section class="three">
   <form action="/third" method="POST">
    <input type="text" placeholder="thoughts" name="answerThree">
    <button type="submit">Submit</button>
   </form>
  </section>

 <section class="miniThree">
  <% for(var i=0; i<comments.length; i++) {%>
      <span><%= comments[i].answerThree %></span>
  <% } %>
  </section>

  <script src="main.js"></script>

</body>
</html>
